@import "tailwindcss";

@font-face {
    font-family: "heading";
    src: url("../assets/fonts/bold.otf");

}

@font-face {
    font-family: "sub-heading";
    src: url("../assets/fonts/medium.otf");
}

@font-face {
    font-family: "light";
    src: url("../assets/fonts/light.otf");
}


.cursor-glow {
    position: fixed;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    pointer-events: none;
    background: #0f172a;
    /* soft cyan color */
    filter: blur(100px);
    /* more blur effect */
    mix-blend-mode: screen;
    z-index: 999;
    transition: transform 0.1s ease;
}





.home-container {
    width: 100%;
    height: 100vh;

}

.home-left {
    width: 80%;
    height: 100vh;
    /* padding: 5rem 5rem; */
    justify-content: space-between;
    /* gap: 10rem; */
    padding: 3rem 0;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.home-right {
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
    overflow-y: scroll;
}


.home-intro span {
    font-size: 5rem;
    color: white;
    cursor: pointer;
    font-family: "heading";
    text-transform: uppercase;
    transition: 0.2s cubic-bezier(0.42, 0, 1, 1);
    line-height: 1;

}

.home-intro span:hover {
    /* color: #0f172a; */
    color: transparent;
    -webkit-text-stroke: 1px white;

}

.home-intro p {
    font-size: 2rem;
    color: white;
    font-family: "sub-heading";
    text-transform: uppercase;
}

.social-media-links {
    display: flex;
    gap: 1rem;
    width: 17rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    /* background-color: red; */
}

.social {
    position: relative;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social:hover {
    /* filter: blur(1px); */
    transform: perspective(10cm) rotateY(45deg);
}


.social i {
    font-size: 1rem;


}

.social a {
    text-decoration: none;
    color: white;
}

.social span {
    font-family: "sub-heading";
    margin: .5rem;
    font-size: 1rem;
}


.home-nav {
    /* background-color: yellow; */
    color: white;

}

.link {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .5rem;
    font-family: "sub-heading";
    margin: .75rem 0;
    cursor: pointer;

}

.line {
    width: 20px;
    height: 1px;
    background-color: white;
    transition: .2s ease-in;
}

.link:hover .line {
    width: 40px;
}

.active-link {
    width: 40px;
}



@media screen and (max-width: 767px) {
    .home-container {
        flex-direction: column !important;
        display: flex;
        /* make sure it’s flex */
    }

    .home-left {
        position: static !important;
        width: auto;
        height: auto;
        /* background-color: red; */
        display: flex;
        padding: 5rem 0;
    }

    .home-intro span {
        font-size: 2.5rem;
    }

    .home-intro p {
        font-size: 1rem;
    }

    .home-right {
        /* height: auto; */
        overflow-y: visible;
    }
}